<% include partials/header%>
<div class="ui main text container segment">
    <div class="ui huge header">New Blog</div>
    <form action="/products" method="POST" class="ui form">
        <div class="field">
            <input type="text" name="name" placeholder="name of product" >
        </div>
        <!-- <div class="field">
            <input type="text" name="description" placeholder="image-url">
        </div> -->
        <div class="field">
            <input type="text" name="price" placeholder="price">
        </div>
        <div>
            
            <textarea rows="4" name="description" placeholder="description of product"></textarea>
        </div>
        <div > <button class="ui violet basic button"> Submit</button></div>
    </form>
</div>